<div class="content">
    <div class="row">
        <div class=" col-md-12">
            <div class="card">
                <div class="card-body">


                    <ngx-wheel id="me" #wheel1 width='500' height='500' spinDuration='10' [disableSpinOnClick]='false' [items]='items' [innerRadius]='30' [spinAmount]='10' pointerStrokeColor='#181818' pointerFillColor='#dec074' [idToLandOn]='idToLandOn' (onSpinStart)='before()'
                        (onSpinComplete)='after()'>

                    </ngx-wheel>

                </div>

            </div>
        </div>

    </div>


</div>