
<router-outlet>
</router-outlet>

<!-- <body>
    <div class="content">

        <div class="card">
            <table id="datatableexample">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Job Title</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let group of data">
                        <td style="color: black !important">{{group.id}}</td>
                        <td>{{group.name}}</td>
                        <td>{{group.email}}</td>
                        <td>{{group.job_title}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body> -->