body {
    background-color: #ffffff !important;
}

.main-panel {
    border-top: 0px solid black !important;
    background: white !important;
}

.main-panel,
.main-panel[data=red] {
    border-color: none;
}