<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive='active' name="viewmerch" style="display: none;">
            <a routerLink="/merchant">
                <i class="tim-icons icon-coins"></i>
                <p>Merchant & Online Store</p>
            </a>
        </li>
        <li routerLinkActive='active' name="viewnews" style="display: none;">
            <a routerLink="/newsManagement">
                <i class="tim-icons icon-alert-circle-exc"></i>
                <p>News</p>
            </a>
        </li>
        <li routerLinkActive='active' name="viewads" style="display: none;">
            <a routerLink="/advertisement">
                <i class="tim-icons icon-atom"></i>
                <p>Advertisement</p>
            </a>
        </li>
        <li routerLinkActive='active' name="viewrewards" style="display: none;">
            <a routerLink="/rewards">
                <i class="tim-icons icon-puzzle-10"></i>
                <p>Rewards & Vouchers</p>
            </a>
        </li>
        <li routerLinkActive='active' name="viewgamification" style="display: none;">
            <a routerLink="/gamification">
                <i class="tim-icons icon-controller"></i>
                <p>Gamification</p>
            </a>
        </li>
        <li routerLinkActive="active" id="memberdata">
            <a name="viewbookinglist" style="display: none;">
                <i class="tim-icons icon-molecule-40" id="tri1"></i>
                <p>Member Management</p>
            </a>

            <ul id="member">
                <li>
                    <a routerLink="/memberData" routerLinkActive='active'>
                        <i class="tim-icons icon-align-center"></i>
                        <p>Member Data</p>
                    </a>
                </li>
                <li>
                    <a routerLink="/redemption" routerLinkActive="active">
                        <i class="tim-icons icon-coins"></i>
                        <p>Redemption</p>
                    </a>
                </li>
                <li>
                    <a routerLink="/bookingList" routerLinkActive="active">
                        <i class="tim-icons icon-paper"></i>
                        <p>Booking List</p>
                    </a>
                </li>
            </ul>
        </li>
        <li routerLinkActive="active" id="usermanagement" name="viewuser" style="display: none;">
            <a>
                <i class="tim-icons icon-support-17" id="tri2"></i>
                <p>User Management</p>
            </a>
            <ul id="userm">
                <li>
                    <a routerLink="/adminUser" routerLinkActive='active'>
                        <i class="tim-icons icon-badge"></i>
                        <p>Admin User</p>
                    </a>
                </li>
                <li>
                    <a routerLink="/userrole" routerLinkActive='active'>
                        <i class="tim-icons icon-align-center"></i>
                        <p>User Role</p>
                    </a>
                </li>
            </ul>
        </li>
        <li routerLinkActive="active" name="viewreporting" style="display: none;">
            <a routerLink="/reporting">
                <i class="tim-icons icon-paper"></i>
                <p>Reporting</p>
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/MemberAccountManagement" name="viewmemberacc" style="display: none;">
                <i class="tim-icons icon-badge"></i>
                <p>Member Account</p>
            </a>
        </li>
        <li routerLinkActive="active" id="gst" name="viewgs" style="display: none;">
            <a>
                <i class="tim-icons icon-settings-gear-63" id="tri3"></i>
                <p>General Setting</p>
            </a>
            <ul id="gs">
                <li>
                    <a routerLink="/gsAboutUs" routerLinkActive='active'>
                        <i class="tim-icons icon-settings"></i>
                        <p>About Us</p>
                    </a>
                </li>
                <li>
                    <a routerLink="/gsFAQ" routerLinkActive='active'>
                        <i class="tim-icons icon-settings"></i>
                        <p>FAQ</p>
                    </a>
                </li>
                <li>
                    <a routerLink="/othersetting" routerLinkActive='active'>
                        <i class="tim-icons icon-settings"></i>
                        <p>Other Settings</p>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>