<!--Add New Announcement-->

<style>
    .ed {
        background-color: #dec074;
        color: #2c2c2c;
        border: 1px solid #dec074;
        display: inline-block;
        font-weight: 600;
        text-align: center;
        vertical-align: middle;
        padding: 11px 15px;
        line-height: 1em;
        border-radius: 1rem;
        cursor: pointer;
        margin-top: 20px;
    }
    
    .ed:active {
        transform: translateY(4px);
    }
    
    .form-group input[type=file] {
        opacity: 1;
    }
    /* Save & Cancel button */
    
    .sbtn {
        background-color: #dec074;
        color: black;
        border: 3px solid #dec074;
        display: inline-block;
        font-weight: 600;
        text-align: center;
        padding: 15px;
        line-height: 0.3em;
        border-radius: 1rem;
        cursor: pointer;
        font-size: 13px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    /* .sbtn:hover {
        background-color: black;
        color: white;
        border: 3px solid black;
    } */
    
    .sbtn:active {
        transform: translateY(4px);
    }
</style>
<script src="https://cdn.tiny.cloud/1/7sgdemiqg542gd8kn5gznm1gr9i20rbzn638xseq048n0lmq/tinymce/5/tinymce.min.js"></script>

<script>
</script>
<div class=" content">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card">
                <div class=" card-header">
                    <h2 class=" title">Add News</h2>
                </div>
                <div class="card-body">
                    <form class="form" style="color:#dec074">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">Title *</label>
                            <div class="col-md-8">
                                <input maxlength="30" placeholder="1212 Promotion..." name="notititle" [(ngModel)]='news.title' class=" form-control" type="text" />
                                <p class="validation">{{ validErr['title'] }}</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">Caption *</label>
                            <div class="col-md-8">
                                <input maxlength="30" placeholder="1212 Promotion" name="notititle" [(ngModel)]='news.caption' class=" form-control" type="text" />
                                <p class="validation">{{ validErr['caption'] }}</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">Publish Date/Time *</label>
                            <div class="col-md-4">
                                <input style="color:rgb(131, 131, 131) !important;" [(ngModel)]='news.date' class=" form-control" type="date" name="notidate" />
                                <p class="validation">{{ validErr['date'] }}</p>
                            </div>
                            <div class="col-md-4">
                                <input style="color:rgb(131, 131, 131) !important;" [(ngModel)]='news.time' class=" form-control" type="time" name="notitime">
                                <p class="validation">{{ validErr['time'] }}</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">Receiver *</label>
                            <div class="col-md-8">
                                <select style="background-color: #2c2c2c;" [(ngModel)]='news.receiver' class="form-control" name="notireceiver" id="">
                                    <option value="All">All</option>
                                    <option value="Member">Member</option>
                                    <option value="Merchant">Merchant</option>
                                </select>
                                <p class="validation">{{ validErr['receiver'] }}</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">Thumbnail *</label>
                            <div class="col-md-8">
                                <input name="file" id="fileimage" style="color: transparent;width: 50%;" type="file" accept="image/png, image/jpeg" (change)="onselectFile($event)" />
                                <br>
                                <br>
                                <img src="{{ url }}" alt="" style="width: 50%; object-fit: cover;">
                                <!-- <img src="data:{{ imagetype }};base64,{{ image }}" style="width: 50%; object-fit: cover;/> -->
                                <p class="validation">{{ validErr['thumbnail'] }}</p>
                            </div>
                        </div>


                        <div class=" row">
                            <div class=" col-md-12">
                                <div class=" form-group">

                                    <label> Description *</label>
                                    <p class="validation">{{ validErr['description'] }}</p>
                                    <textarea name="notidescription" class=" form-control" [(ngModel)]='news.description' id="mymce1"></textarea>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-9"></div>
                            <div class="col-md-3">
                                <button type="button" class="ed" (click)='sendNews()'>Save</button>
                                <button type="button" class="ed" style="margin-left: 10px;" (click)='goBack()'>Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-2"> -->
        <!-- <form action="http://165.22.50.213:3000/upimage" method="post" enctype="multipart/form-data">
                <div>
                    <input type="text" name="id">
                    <input type="file" name="file" (change)="onselectFile($event)" />
                </div>
                <div>
                    <button type="submit">Upload</button>
                </div>
            </form> -->
        <!-- </div> -->
    </div>
</div>