<style>
    .ed {
        background-color: #dec074;
        color: #2c2c2c;
        border: 1px solid #dec074;
        display: inline-block;
        font-weight: 600;
        text-align: center;
        vertical-align: middle;
        padding: 11px 15px;
        line-height: 1em;
        border-radius: 1rem;
        cursor: pointer;
        margin-top: 20px;

    }

    .ed:active {
        transform: translateY(4px);
    }

    input:disabled {
        background-color: #18181860;
        color: white;
    }

    .form-group input[type=file] {
        opacity: 1;
    }
</style>

<script
    src="https://cdn.tiny.cloud/1/7sgdemiqg542gd8kn5gznm1gr9i20rbzn638xseq048n0lmq/tinymce/5/tinymce.min.js"></script>

<script>
</script>
<div class=" content">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card">
                <div class=" card-header">
                    <h2 class=" title">Edit Reward (Points)</h2>
                </div>
                <div class="card-body">
                    <form class="form" style="color:#dec074">
                        <form action="" method="post" enctype="multipart/form-data">
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label"> Reward Title *</label>
                                <div class="col-md-8">
                                    <input name="rwdtitle" [(ngModel)]='editRwd.title' class=" form-control" id="chg"
                                        type="text" style="color:white;" />
                                    <p class="validation">{{ valid['title'] }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-3 col-form-label">Thumbnails *</label>
                                <div class="col-md-8">
                                    <input class="upload" style="color: transparent;" type="file"
                                        accept="image/png, image/jpeg, imgae/jpg" name="file"
                                        (change)="onselectFile($event)" />
                                    <br>
                                    <br>
                                    <img id="newimg" src="{{ url }}" />
                                    <img id="ogimg" src="data:{{ imagetype }};base64,{{ image }}" />
                                    <p class="validation">{{ valid['thumbnail'] }}</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">Reward * </label>
                                <div class="col-md-8">
                                    <input class=" form-control" id="chg" type="text" name="rwdreward"
                                        [(ngModel)]='editRwd.reward' style="color:white;" maxlength="12" />
                                    <p class="validation">{{ valid['reward'] }}</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">Type * </label>
                                <div class="col-md-8">
                                    <select class="form-control" (change)="checktype()" name="rwdtype"
                                        [(ngModel)]='editRwd.type'>
                                        <option value="Daily" style="color: black;">Daily</option>
                                        <option value="Monthly" style="color: black;">Monthly</option>
                                        <option value="Annually" style="color: black;">Annually</option>
                                    </select>
                                    <p class="validation">{{ valid['type'] }}</p>
                                </div>
                            </div>
                            <div class=" form-group row" style="display:none" id="rwdcheckwhos">
                                <label class="col-md-3 col-form-label"> Check From *</label>
                                <div class="col-md-8">
                                    <select style="background-color: #2c2c2c;" class="form-control" name="rwdcheckwho2"
                                        [(ngModel)]='editRwd.checkfromwho' (change)="getcheckwhat();">
                                        <option value="Member">Member</option>
                                        <option value="Merchant">Merchant</option>
                                        <option value="Other">Other</option>
                                    </select>
                                    <p class="validation">{{ valid['type'] }}</p>
                                </div>
                            </div>
                            <div id="memberrwd" style="display:none" class=" form-group row">
                                <label class="col-md-3 col-form-label"> Field to Check *</label>
                                <div class="col-md-8">
                                    <select style="background-color: #2c2c2c;" class="form-control"
                                        name="memberrwdcheckwhat" id="rwdmember" [(ngModel)]='editRwd.checkwhat'>
                                        <option value="birthdate">Birth Date</option>
                                        <option value="joindate">Join Date</option>
                                    </select>
                                    <!-- <p class="validation">{{ valid['type'] }}</p> -->
                                </div>
                            </div>
                            <div id="merchantrwd" style="display:none" class=" form-group row">
                                <label class="col-md-3 col-form-label"> Field to Check *</label>
                                <div class="col-md-8">
                                    <select id="rwdmerchant" style="background-color: #2c2c2c;" class="form-control"
                                        name="merchantrwdcheckwhat2" [(ngModel)]='editRwd.checkwhat'>
                                        <option value="joindate">Join Date</option>
                                    </select>
                                    <!-- <p class="validation">{{ valid['type'] }}</p> -->
                                </div>
                            </div>
                            <div id="specificrwd" style="display:none" class=" form-group row">
                                <label class="col-md-3 col-form-label"> Date *</label>
                                <div class="col-md-8">
                                    <input class=" form-control" type="date" [(ngModel)]='editRwd.specificdate'>
                                    <!-- <p class="validation">{{ valid['type'] }}</p> -->
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">Status *</label>
                                <div class="col-md-8">
                                    <select class="form-control" name="status" [(ngModel)]='editRwd.status'>
                                        <option value="Active" style="color:black;">Active</option>
                                        <option value="Inactive" style="color:black;">Inactive</option>
                                    </select>
                                    <p class="validation">{{ valid['status'] }}</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">T&C *</label>
                                <div class="col-md-8">
                                    <textarea class=" form-control" id="chg" name="rwdtermsandcondition"
                                        [(ngModel)]='editRwd.termsandcondition' style="color:white;"></textarea>
                                        <p class="validation">{{ valid['termsandcondition'] }}</p>
                                </div>
                            </div>
                            <div class=" row">
                                <div class=" col-md-12">
                                    <div class=" form-group">
                                        <label> Details *</label>
                                        <p class="validation">{{ valid['detail'] }}</p>
                                        <textarea class=" form-control" id="mymce1" name="rwddetail"
                                            [(ngModel)]='editRwd.detail' style="color:white;"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class=" row">
                                <div class="col-md-9"></div>
                                <div class="col-md-3">
                                    <button type="button" class="ed" (click)="uploadRwd()">Save</button>
                                    <button type="button" class="ed" style="margin-left: 10px;"
                                        (click)='goBack()'>Cancel</button>
                                </div>
                            </div>
                        </form>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

</div>