.content {
    background-color: #181818 !important; /* added */
  }
  .card {
    background-color: #2c2c2c !important; /* added */
  }

.search {
    margin-top: 3.5%;
}

  .fas{
    margin-top: 9px;
  }
  .fas:active{
    transform: translateY(4px);
  }    
    .mbtn {
        background-color: #dec074;
        color: black;
        border: 3px solid #dec074;
        display: inline-block;
        font-weight: 600;
        text-align: center;
        vertical-align: middle;
        padding: 11px 15px;
        line-height: 1em;
        border-radius: 1rem;
        cursor: pointer;
        font-size: 12px;
        text-decoration: none;
    }
    
    .mbtn:active {
        transform: translateY(4px);
    }

  #edit:active {
      transform: translateY(4px);
    }
  
  
  h2, th{
    color:#dec074!important;
    font-weight: 700!important;
  }
  
  h3{
    font-size: 12px;
    line-height: 20px;
    color:black;
  }
  
  .card-title {
    font-weight: 700;
    font-size: 1.5em;
    margin-top: 4px;
    color: #dec074 !important;
}
  
  
.ed {
  background-color: #dec074;
  color: #2c2c2c;
  border: 1px solid #dec074;
  display: inline-block;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  padding: 11px 15px;
  line-height: 1em;
  border-radius: 1rem;
  cursor: pointer;
  margin-left: 28px;
  margin-top: 20px;
}
  
  .ed:active {
    transform: translateY(4px);
  }
  
  .smit:active{
    transform: translateY(4px);
  
  }
  
  .dlt{
    font-size: 20px;
  }
  
  
  .modal-title{
    color: #dec074!important;
    font-size: 25px;
  }
  
  #pop{
    color:black!important;
  }
  
  .btn-danger{
      background-color: white!important;
  }
  
  .btn-secondary{
    background-color: #2c2c2c!important;
    color:white;
    border-color: #2c2c2c;
    display: inline-block;
    line-height: 1em;
    border-radius: 1rem;
    cursor:pointer;
  }
  
  .btn-secondary:active{
        transform: translateY(4px);
  }
  
  .dMenu{
    width: 450px;
    height:180px;
    border-radius: 0.5rem;
  }
  
  .col-md-6{
    margin-left: 10px;
    margin-top:10px;
  }
  
  .col-md-4{
    margin-top:20px;
  }
  
  img{
    height:150px;
  }
  
  .dot{
    border-color: 3px solid #2c2c2c;
    color:grey;
  }

  
    .form-control{
      border-top:transparent;
      border-right: transparent;
      border-left: transparent;
      border-radius: 0%;
      border-color: #dec074;
      color:black;
    }
  
    #pop{
      color:black;
      margin-bottom: 10px;
    }
  
    #chg{
      color:black;
    }

    .validation {
      font-weight: 500;
      font-size: 1em;
      color: rgb(255, 0, 0) !important;
    }

    
.dropbtn {
  background-color: #dec074;
  color: black;
  border: 3px solid #dec074;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  padding: 11px 30px;
  line-height: 1em;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 12px;
}

.dropbtn:active {
  transform: translateY(4px);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #dec074;
  color: #2c2c2c !important;
  min-width: 120px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 1rem;
}

.dd {
  color: #2c2c2c !important;
  padding: 11px 16px;
  text-decoration: none;
  display: block;
  font-weight: 600;
}

.dd a {
  color: #2c2c2c !important;
}

.dd:hover {
  background-color: lightgrey;
}

.show {
  display: inline-block;
}

.ddContent {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 170px;
  overflow: auto;
  box-shadow: 0p x 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 1rem;
  height: 200px;
}
