<style>
    .content {
        background-color: #181818 !important;
        overflow: hidden;
        opacity: 1.0;
    }

    .card {
        background-color: #2c2c2c !important;
    }

    .form-control {
        border-top: transparent;
        border-right: transparent;
        border-left: transparent;
        border-radius: 0%;
        border-color: #dec074;
    }

    .form-control-file {
        color: #dec074;
    }

    label {
        color: #dec074;
        font-size: 13px;
    }

    /* Save & Cancel button */

    .sbtn {
        background-color: #dec074;
        color: black;
        border: 3px solid #dec074;
        display: inline-block;
        font-weight: 600;
        text-align: center;
        padding: 15px;
        line-height: 0.3em;
        border-radius: 1rem;
        cursor: pointer;
        font-size: 13px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    /* .sbtn:hover {
        background-color: black;
        color: white;
        border: 3px solid black;
    } */

    .sbtn:active {
        transform: translateY(4px);
    }

    .btn-group button {
        background-color: black !important;
    }

    .form-group input[type=file] {
        opacity: unset !important;
    }

    option {
        color: black;
    }

    .validation {
        font-weight: 500;
        font-size: 1em;
        color: rgb(255, 0, 0) !important;
    }
</style>

<body>
    <div class="content">
        <title>Add New Admin</title>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <form class="form" style="color:#dec074">
                            <!-- Merchant Details -->
                            <h3>Admin Details</h3>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">Name *</label>
                                <div class="col-md-8">
                                    <input [(ngModel)]='adminuser.name' class=" form-control" type="text"
                                        placeholder="Name" maxlength="50">
                                    <p class="validation">{{ valid['name'] }}</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">Contact Number *</label>
                                <div class="col-md-8">
                                    <input [(ngModel)]='adminuser.contact' name="contact" [pattern]="contactPattern"
                                        #contact="ngModel" class=" form-control" type="text" placeholder="012-3456789">
                                    <div *ngIf="contact.errors?.pattern" style="color:red;">
                                        *Invalid contact number.
                                    </div>
                                    <p class="validation">{{ valid['contact'] }}</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">Email Address * </label>
                                <div class="col-md-8">
                                    <input name="email" [(ngModel)]='adminuser.email' [pattern]="emailPattern"
                                        #email="ngModel" class=" form-control" type="text" placeholder="abc@gmail.com"
                                        maxlength="50">
                                    <div *ngIf="email.errors?.pattern" style="color:red;">
                                        *Invalid email.
                                    </div>
                                    <p class="validation">{{ valid['email'] }}</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">Gender *</label>
                                <div class="col-md-8">
                                    <select class="form-control" name="gender" [(ngModel)]='adminuser.gender'>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Prefer Not To Say">Prefer Not To Say</option>
                                    </select>
                                    <p class="validation">{{ valid['gender'] }}</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">Password *</label>
                                <div class="col-md-8">
                                    <input [(ngModel)]='adminuser.pwd' [pattern]="pwdPattern" #pwd="ngModel" name="pwd"
                                        class=" form-control" type="password" placeholder="Password" maxlength="20" />
                                    <div *ngIf="pwd.errors?.pattern" style="color:red;">
                                        *Password must be at least 8 characters and maximum 15 characters.<br>
                                        *Password must contain at least one number and at least one letter. </div>
                                    <p class="validation">{{ valid['pwd'] }}</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">Confirm Password *</label>
                                <div class="col-md-8">
                                    <input [(ngModel)]='adminuser.cfmpwd' name="cfmpwd" class=" form-control"
                                        type="password" placeholder="Confirm Password" />
                                    <p class="validation">{{ valid['cfmpwd'] }}</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">Role *</label>
                                <div class="col-md-8">
                                    <select class="form-control" name="role" [(ngModel)]='adminuser.role'>
                                        <option *ngFor="let rrole of getallrole" value="{{rrole.role}}">
                                            {{rrole.role}}</option>
                                    </select>
                                    <p class="validation">{{ valid['role'] }}</p>
                                </div>
                            </div>
                            <!-- auto set active status -->
                            <div class="form-group row" hidden>
                                <label class="col-md-3 col-form-label">Status *</label>
                                <div class="col-md-8">
                                    <input [(ngModel)]='adminuser.status' class=" form-control" type="text" id="status"
                                        name="status">
                                    <p class="validation">{{ valid['status'] }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8"></div>
                                <div class="col-md-4"> <button type="button" class="sbtn" style="margin-left: 10px;"
                                        (click)='sendAdmin()'>Save</button>
                                    <button type="reset" class="sbtn" style="margin-left: 10px;" (click)='goBack()'>Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>