<style>
    .ed {
        background-color: #dec074;
        color: #2c2c2c;
        border: 1px solid #dec074;
        display: inline-block;
        font-weight: 600;
        text-align: center;
        vertical-align: middle;
        padding: 11px 15px;
        line-height: 1em;
        border-radius: 1rem;
        cursor: pointer;
        margin-top: 20px;
    }
    
    .ed:active {
        transform: translateY(4px);
    }
    
    input:disabled {
        background-color: #18181860;
        color: white;
    }
    
    .form-group input[type=file] {
        opacity: 1;
    }
</style>
<script src="https://cdn.tiny.cloud/1/7sgdemiqg542gd8kn5gznm1gr9i20rbzn638xseq048n0lmq/tinymce/5/tinymce.min.js"></script>

<script>
</script>
<div class=" content">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card">
                <div class=" card-header">
                    <h2 class=" title">Edit Advertisement</h2>
                </div>
                <div class="card-body">
                    <form class="form" style="color:#dec074">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">Title *</label>
                            <div class="col-md-8">
                                <input maxlength="30" placeholder="1212 Promotion" name="notititle" [(ngModel)]='editads.title' class=" form-control" type="text" />
                                <p class="validation">{{ validErr['title'] }}</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">Publish Date/Time *</label>
                            <div class="col-md-4">
                                <input [(ngModel)]='editads.pdate' value="" name="notidate" class=" form-control" type="date" />
                                <p class="validation">{{ validErr['pdate'] }}</p>
                            </div>
                            <div class="col-md-4">
                                <input [(ngModel)]='editads.ptime' value="" name="notitime" class=" form-control" type="time">
                                <p class="validation">{{ validErr['ptime'] }}</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">Start Date *</label>
                            <div class="col-md-8">
                                <input [(ngModel)]='editads.sdate' class=" form-control" type="date" name="notisdate" />
                                <p class="validation">{{ validErr['sdate'] }}</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">End Date *</label>
                            <div class="col-md-8">
                                <input [(ngModel)]='editads.edate' class=" form-control" type="date" name="notiedate" />
                                <p class="validation">{{ validErr['edate'] }}</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">Merchant *</label>
                            <div class="col-md-8">
                                <select [(ngModel)]='editads.merchant' class="form-control" name="notireceiver" id="merchantname">
                              <option style="color:black"  value="Non-merchant(others)">Non-merchant(others)</option>
                              <option style="color:black" *ngFor="let merch of merchArr" value="{{merch.companyname}}">
                                  {{merch.companyname}}</option>
  
                          </select>
                                <p class="validation">{{ validErr['merchant'] }}</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">Poster *</label>
                            <div class="col-md-8">
                                <input style="color: transparent;" name="file" (change)="onselectFile($event)" type="file" accept="image/png, image/jpeg" />
                                <br>
                                <br>
                                <img id="newimg" src="{{ url }}" />
                                <img id="ogimg" src="data:{{ imagetype }};base64,{{ image }}" />
                                <p class="validation">{{ validErr['thumbnail'] }}</p>
                            </div>
                        </div>
                        <div class=" row">
                            <div class=" col-md-12">
                                <div class=" form-group">

                                    <label> Details *</label>
                                    <p class="validation">{{ validErr['detail'] }}</p>
                                    <textarea name="notidescription" class=" form-control" [(ngModel)]='editads.detail'></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9"></div>
                            <div class="col-md-3">
                                <button type="button" class="ed" (click)='uploadAds(editads)'>Save</button>
                                <button type="button" class="ed" style="margin-left: 10px;" (click)='goBack()'>Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>